/*! CSS Used from: https://cdn.sstatic.net/Shared/stacks.css?v=58428843e325 */
div,span,p,pre,a,code,img{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline;}
p{margin-top:0;}
/*! CSS Used from: https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=698052c83444 */
body *,body *:before,body *:after{box-sizing:inherit;}
a{color:#07C;text-decoration:none;cursor:pointer;}
a:hover,a:active{color:#005999;text-decoration:none;}
a{color:#07C;text-decoration:none;cursor:pointer;}
a:hover,a:active{color:#3af;text-decoration:none;}
.post-text a:not(.post-tag){text-decoration:underline;}
.post-text a:not(.post-tag):visited{color:#005999;}
p{clear:both;margin-bottom:1em;margin-top:0;}
code{font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;background-color:#eff0f1;}
pre{margin-bottom:1em;padding:12px 8px;padding-bottom:20px !ie7;width:auto;width:650px !ie7;max-height:600px;overflow:auto;font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;font-size:13px;background-color:#eff0f1;border-radius:3px;}
.post-text pre>code:first-child{max-height:600px\9;display:block\9;}
pre{max-height:none\9;}
.post-text{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;}
.tag{color:#7D2727;}
.pun,.pln{color:#303336;}
.atn{color:#E64320;}
.atv{color:#0F74BD;}
.prettyprint{display:block;color:#393318;}
@media print{
.tag{font-weight:bold;}
.atv{color:#060;}
.atn{color:#404;}
.pun{color:#440;}
.pln{color:#0C0D0E;}
.tag{color:#006;}
}
.post-layout--right .post-text{width:100%;}
.post-text{width:660px;}
.post-text{margin-bottom:5px;word-wrap:break-word;font-size:15px;line-height:1.3;}
.post-text pre{word-wrap:normal;}
.post-text code{font-size:13px;}
.post-text img{max-width:100%;margin-bottom:.5em;}
.post-text p img{margin-bottom:0;}
@media print{
*{position:relative;}
.post-text{float:none!important;width:100%;overflow:visible!important;}
pre{max-height:none;display:block;width:600px;height:auto;overflow-x:auto;white-space:pre-wrap;word-wrap:break-word;clear:both;}
code,pre{font-size:9pt!important;}
.post-text{width:90%;}
}
code{white-space:pre-wrap;padding:1px 5px;}
pre code{white-space:inherit;padding:0;}